body{
  background-color: antiquewhite;
}
@media screen and (max-width:480px){
  body{
    background-color: blue;
  }
}
.assessment{
  text-align: center;
}
button{
  padding:  1px 10px;
}
input{
  height: 20px;
}

